<mat-toolbar class="mat-elevation-z6">
    <span>VendorMe</span>

    <div class="spacer"></div>
    <a mat-button routerLink="home">Home</a>
    <!-- <a mat-button routerLink="services">Services</a> -->
    <a mat-button routerLink="services">Listings</a>
    <a mat-button routerLink="about">About Us</a>
    <a mat-button routerLink="contact">Contact</a>
    <a mat-button color="primary" routerLink="settings" *ngIf="helperService.loggedIn()" >Settings</a>
    <a mat-raised-button color="accent" *ngIf="!helperService.loggedIn()" routerLink="register" (click)="vendorCheck()">Register</a>
    <a mat-raised-button color="primary" *ngIf="helperService.loggedIn()" (click)="[helperService.logoutUser()]">Logout</a>

</mat-toolbar>