<!-- <h1>VendorMe</h1> -->
<!-- <p>Connect to a vendor to grow your business</p> -->

<button a href="#!" routerLink="/login" routerLinkActive="active">Customer Login</button>
<button>Vendor Login</button>
<!-- <button a href="#!" routerLink="/login" routerLinkActive="active">Vendor Login</button> -->
<!-- <div><a href="#!" routerLink="/login" routerLinkActive="active">Login</a></div> -->
<!-- <div class="vertical-center pr-10 mt-10">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" formControlName="username">
                    <p *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger">Username is required</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" formControlName="password">
                    <p *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Password is required</p>
                </div>
                <button class="btn btn-primary" type="submit">login</button>
                <div *ngIf="loginFailed">
                    <p>failed</p>
                    {{errMessage}}
                </div>
            </form>
        </div>
    </div>
</div> -->


